.menubt{
    grid-area: menubt;
    border-bottom: 2px solid rgba(161, 60, 60, 40%);
}
.categories{
    grid-area: categories;
}
.fixed-categories{
    grid-area: fixed-categories; 
    display: flex;
    padding-top: 15px; 
    border-top: 2px solid rgba(161, 60, 60, 40%); 
}
.deconnexion{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 15px;
    padding: 10px;
    border: 2px solid #f8cece;
    border-radius: 7px;
}