@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
.menubt {
  height: 7vh;
  grid-area: menubt;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid rgba(158, 155, 166, 0.4);
}
.categories {
  padding-top: 15px;
  padding-bottom: 15px;
  grid-area: categories;
  height: calc(100vh - 20px - 7vh - 57px - 30px);
}
.categories-list{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth; /* Ajoute un scrolling fluide */
}
.fixed-categories {
  height: 57px;
  grid-area: fixed-categories;
  display: flex;
  padding-top: 15px;
  border-top: 2px solid #9e9ba6;
  font-family: "Mulish", sans-serif;
  font-size: 0.85em;
}
.category-button {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  min-height: 40px;
  padding: 8px;
  padding-left: 20px;
  text-decoration: none;
  border-radius: 50px;
  font-family: "Mulish", sans-serif;
  font-size: 0.85em;

  font-weight: 400;
}
.selected {
  font-weight: 700;
}
.deconnexion {
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border: 2px solid rgba(158, 155, 166, 0.4);
  border-radius: 7px;
}
.dashboard-icon {
  width: 12%;
  height: 100%;
  display: flex;
  align-items: start;
}