.menubt{
    height: 7vh;
    grid-area: menubt;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid rgba(158, 155, 166,0.4);
}
.categories{
    grid-area: categories;
}
.fixed-categories{
    grid-area: fixed-categories; 
    display: flex;
    padding-top: 15px; 
    border-top: 2px solid #9e9ba6; 
}
.deconnexion{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 15px;
    padding: 10px;
    border: 2px solid rgba(158, 155, 166,0.4);
    border-radius: 7px;
}